<footer class="site-footer h-card">

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col">
        <ul class="contact-list">
          <li class="p-name"><a class="" href="mailto:{{ site.footer.email }}">{{ site.footer.email }}</a></li>
          <li class="p-name"><a class="" href="tel:{{ site.footer.mobile }}">{{ site.footer.mobile}}</a></li>
          <li class="p-name"><a class="" href="https://wa.me/{{ site.footer.whatsapp }}">WhatsApp</a> </li>
        </ul>
      </div>
      <div class="footer-col" style="text-align: right;">
        <ul class="contact-list">
          <li class="p-name"><a href="https://www.google.com/maps/dir/51.0854485,3.831181/Elenestraat+173,+9620+Zottegem/@50.986592,3.7103523,12z/data=!3m1!4b1!4m10!4m9!1m1!4e1!1m5!1m1!1s0x47c30a0cac7b72f7:0x16362f46943fc976!2m2!1d3.8099596!2d50.8875456!3e0">{{ site.footer.address | escape }}</a></li>
          <li class="p-name">BTW BE0649249209</li>
        </ul>
      </div>
    </div>

    <div class="social-links">
      {%- include social.html -%}
    </div>

  </div>
</footer>
