<footer class="site-footer h-card">

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col">
        <ul class="contact-list">
          <li class="p-name"><a class="" href="mailto:{{ site.footer.email }}">{{ site.footer.email }}</a></li>
          <li class="p-name"><a class="" href="tel:{{ site.footer.mobile }}">{{ site.footer.mobile}}</a></li>
          <li class="p-name"><a class="" href="https://wa.me/{{ site.footer.whatsapp }}">WhatsApp</a> </li>
        </ul>
      </div>
      <div class="footer-col" style="text-align: right;">
        <ul class="contact-list">
          <li class="p-name">
            <a href="https://www.google.com/maps/dir//Elenestraat+173,+9620+Zottegem"><span class="material-symbols-outlined">directions</span> {{ site.footer.address | escape }}</a></li>
          <li class="p-name">BTW BE0649249209</li>
        </ul>
      </div>
    </div>

    <div class="social-links">
      {%- include social.html -%}
    </div>

  </div>
</footer>
