In deze basis opleiding behandelen we volgende topics.

- Wat is stress?
- Hoe kunnen we stress herkennen?
- Invloed van stress op de gezondheid?
- Stress versus Rust
- Mentale weerbaarheid

We diepen theoretische inzichten uit, afgewisseld met praktische oefeningen, die je in
staat stellen stress te begrijpen, signalen te detecteren en zelf een persoonlijk actie
plan op te stellen.

De cursus kan zowel online als ter plaatse aangeboden worden.

<table class="prijsinfo">
  <tr>
    <td class="align-left">2.5u</td>
    <td class="align-right">75€/persoon</td>
  </tr>
</table>

Aanvullend op deze basis cursus bieden we een praktijkgerichte
set van <a href="/workshops">workshops</a> aan die je leren omgaan met stress.
