---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import
  "minima/skins/{{ site.minima.skin | default: 'classic' }}",
  "minima/initialize";

@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:opsz,wght@6..96,400;6..96,700&family=Catamaran:wght@100;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200');

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 1,
  'wght' 300,
  'GRAD' 0,
  'opsz' 12;
  font-size: 1em;
  // color:red;
}

body {
  font-family: 'Catamaran', sans-serif;
}

h1, h2, h3, h4, h5 {
  font-family: 'Bodoni Moda', serif;
  font-weight: bold;
}

table tr td.align-right {
  text-align: right;
}

p.note {
  font-style: italic;
  padding-left: 2em;
  border-left: 4px solid $lm-background-color-dark;
}

@media screen and (min-width: $on-large) {
  section.intro img {
    float: left;
    max-width: 45%;
    padding-bottom:  1em;
    padding-right: 1em;
  }
  section {
    clear: both;
  }
}

section.intro, header.post-header {
  background-color: $lm-background-color-dark;
  color: $lm-text-color-invert;
  padding: 3em;
  h1 {
    color: lighten($lm-text-color-invert, 5%);
    padding-bottom: 1em;
  }
  a {
    color: $lm-text-color-invert;
    text-decoration: none;
    &:visited {
      color: $lm-text-color-invert;
    }
    &:hover {
      color: lighten($lm-text-color-invert, 5%);
      text-decoration: underline;
    }
  }
}
